<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <%- include('nav') %>
  <% if (content.length > 0) { %>
    <% content.forEach(e => { %>
      <% if (e.mimeType) { %>
        <dialog id="<%= e.cloudinaryId %>">
          <img style="width: 175px;" src="<%= e.url %>" alt="<%= e.name %>">
          <p><%= e.name %></p>
          <p>Size: <%= e.formattedSize %></p>
          <p>Uploaded: <%= e.createdAt.toLocaleDateString() %> • <%= e.createdAt.toLocaleTimeString() %></p>
        </dialog>
        <img style="height: 75px;" src="<%= e.url %>" alt="<%= e.name %>">
        <a id="<%= e.cloudinaryId %>" onclick="toggleModal('<%= e.cloudinaryId %>')"><%= e.name %></a>
      <% } else { %>
        <a href="/folder/<%= e.id %>"><%= e.name %></a>
      <% } %>
      <dialog id="folder<%= e.id %>">
        <form action="/delete/<%= e.id %>" method="post"><button type="submit">Delete</button></form>
        <dialog id="edit<%= e.id %>">
          <form action="/edit/<%= e.id %>" method="post">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" value="<%= e.name %>">
            <button type="submit">Update</button>
          </form>
        </dialog>
        <button id="edit<%= e.id %>" onclick="toggleModal('edit<%= e.id %>')">Edit</button>
      </dialog>
      <img  id="folder<%= e.id %>" src="/three-dots-svgrepo-com.svg" onclick="toggleModal('folder<%= e.id %>')" style="width: 25px; height: 25px;">
    <% }) %>
  <% } else if(locals.currentUser) { %>
    <div>
      <h1>No folder or files</h1>
      <p>Use the "New" button</p>
    </div>
    
  <% } else { %>
    <h1>Sign up or log in to get started</h1>
  <% } %>
<script src="/js/modalFunctions.js"></script>
</body>
</html>