<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/dialog.css">
  <link rel="stylesheet" href="/css/info.css">
  <link rel="stylesheet" href="/css/home.css">
  <title><%= title %></title>
</head>
<body>
  <%- include('nav') %>
  <main>
    <% if(locals.errors) { %>
      <% errors.forEach((err, i) => { %>
        <dialog id="error<%=i%>" open><%= err.msg %></dialog>
      <% }) %>
    <% } %>
    <%- include('sidebar') %>
    <div class="body">
      <% if (locals.breadcrumbs) { %>
        <div class="breadcrumbs">
          <% for(let i=breadcrumbs.length - 1; i> -1; i--) { %>
            <a class="truncate" href="<%=  breadcrumbs[i].link %>">
              <%= breadcrumbs[i].name %>
            </a>
            <% if(i !== 0) { %>
              <img src="/img/right-arrow-backup-2-svgrepo-com.svg" alt="right arrow">
            <% } %>
          <% } %>
        </div>
      <% } else { %>
        <h1><%= title %></h1>
      <% } %>
      <div class="content">
        <% if (content.length > 0) { %>
          <% content.forEach(e => { %>
            <% if (e.mimeType ) { %>
              <dialog class="content-info img-info" id="<%= e.cloudinaryId %>">
                <% if(e.mimeType === 'application/pdf') { %>
                <iframe src="<%= e.url %>" class="pdf-view">
                </iframe>
                <% } else if(e.mimeType.startsWith('image/')) { %>
                <img src="<%= e.url %>" alt="<%= e.name %>">
                <% } else { %>
                  <pre style="white-space: pre-wrap; padding: 1.5rem; max-height: 50vh; overflow-y: auto; background: #f5f5f5;">Loading...</pre>
                <% } %>
                <div class="header">
                  <img class="icon" src="/img/file-zipper-svgrepo-com.svg" alt="file">
                  <h2 class="truncate"><%= e.name %></h2>
                </div>
                <div>
                  <h3>Size</h3>
                  <p><%= e.formattedSize %></p>
                </div>
                <div>
                  <h3>Uploaded</h3>
                  <p>
                    <%= e.createdAt.toLocaleDateString(undefined, { month: 'short' , day: 'numeric' , year: 'numeric' }) %>
                  </p>
                </div>
              </dialog>
              <dialog class="dialog-form" id="edit<%= e.id %>">
                <form action="/edit/file/<%= e.id %>" method="post">
                  <label for="name">Name</label>
                  <input id="name-<% e.id %>" type="text" name="name" value="<%= e.name %>">
                  <button class="button" type="submit" onclick="this.style.display = 'none'">Update</button>
                </form>
              </dialog>
              <div class="card" style="cursor: pointer;">
                <dialog class="controls" id="file<%= e.id %>">
                  <form action="/download/<%= e.id%>">
                    <button class="border-bottom control-btn"  onclick="this.style.display = 'none'" type="submit">Download</button>
                  </form>
                  <form action="/delete/file/<%= e.id %>" method="post">
                    <button class="border-bottom control-btn"  type="submit" onclick="this.style.display = 'none'">Delete</button>
                  </form>
                  <button class="control-btn" onclick="toggleModal('edit<%= e.id %>')">Edit</button>
                </dialog>
               
                <% if(e.mimeType === 'text/plain') { %>
                  <p class="card-folder">
                    <img onclick="previewText('<%= e.cloudinaryId %>', '<%= e.url %>' )" style="width: 42%;" src="/img/text-file-document-svgrepo-com.svg" alt="folder">
                  </p>
                  <div class="card-header">
                    <p onclick="previewText('<%= e.cloudinaryId %>', '<%= e.url %>' )" class="name truncate"><%= e.name %></p>
                    <img class="dots" tabindex="0" id="file<%= e.id %>" src="/img/three-dots-svgrepo-com.svg" onclick="openControls(this, 'file<%= e.id %>', 40)" style="width: 25px; height: 25px;">
                  </div>
                <% } else { %>
                  <div tabindex="0" style="overflow: hidden;" class="card-img">
                    <% if(e.mimeType==='application/pdf' ) { %>
                      <iframe class="preview" src="<%= e.url %>" onclick="toggleModal('<%= e.cloudinaryId %>')" width="100%"
                        height="100%">
                      </iframe>
                    <% } else { %>
                      <img src="<%= e.url %>" onclick="toggleModal('<%= e.cloudinaryId %>')" alt="<%= e.name %>">
                    <% } %>
                  </div>
                  <div class="card-header">
                    <p tabindex="0" class="name truncate" onclick="toggleModal('<%= e.cloudinaryId %>')"><%= e.name %></p>
                    <img class="dots" tabindex="0" id="file<%= e.id %>" src="/img/three-dots-svgrepo-com.svg" onclick="openControls(this, 'file<%= e.id %>', 40)" style="width: 25px; height: 25px;">
                  </div>
                <% }%>
              </div>
            <% } else { %>
              <dialog class="dialog-form" id="edit<%= e.id %>">
                <form action="/edit/folder/<%= e.id %>" method="post">
                  <label for="name">Name</label>
                  <input id="name" type="text" name="name" value="<%= e.name %>">
                  <button class="button" type="submit" onclick="this.style.display = 'none'">Update</button>
                </form>
              </dialog>
              <div tabindex="0" class="card" style="cursor: pointer;">
                <dialog class="controls" id="folder<%= e.id %>">
                  <form action="/share/<%= e.id %>" method="post">
                    <button class="border-bottom control-btn" type="submit">Share</button>
                  </form>
                  <form action="/delete/folder/<%= e.id %>" method="post">
                    <button class="border-bottom control-btn" type="submit" onclick="this.style.display = 'none'">Delete</button>
                  </form>
                  <button class="control-btn border-bottom" onclick="showSideInfo(<%= JSON.stringify(e) %>)">Info</button>
                  <button class="control-btn" onclick="toggleModal('edit<%= e.id %>')">Edit</button>
                </dialog>
                <a class="card-folder" href="/folder/<%= e.id %>">
                    <img src="/img/folder-svgrepo-com.svg" alt="folder">
                </a>
                <div class="card-header">
                  <a class="name" href="/folder/<%= e.id %>"><%= e.name %></a>
                  <img class="dots" tabindex="0" id="folder<%= e.id %>" src="/img/three-dots-svgrepo-com.svg" onclick="openControls(this, 'folder<%= e.id %>', 75)" style="width: 25px; height: 25px;">
                </div>
              </div>
            <% } %>
          <% }) %>
      </div>
      <% } else { %>
        <div class="empty-state">
          <h2>Nothing here yet</h2>
          <p>Use the "New" button to get started</p>
        </div>
      <% } %>
      </div>
    <%- include('info') %>
  </main>
<script src="/js/modalFunctions.js"></script>
<script src="/js/sideInfo.js"></script>
</body>
</html>