<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <%- include('nav') %>
  <h1><%= folder.name || 'Home' %></h1>
  <% if (content.length > 0) { %>
    <% content.forEach(e => { %>
    <a href="/folder/<%= e.id %>"><%= e.name %></a>
    <dialog id="folder<%= e.id %>">
      <form action="/delete/<%= e.id %>"><button type="submit">Delete</button></form>
      <form action="/edit/<%= e.id %>"><button type="submit">Edit</button></form>
    </dialog>
    <img id="folder<%= e.id %>" src="/three-dots-svgrepo-com.svg" onclick="toggleModal('folder<%= e.id %>')" style="width: 25px; height: 25px;"></img>

    <% }) %>
  <% } %>
<script src="/js/modalFunctions.js"></script>
</body>
</html>