<% if (locals.currentUser) { %>
    <h1><%= currentUser.name %></h1>
<% } %>
<a href="/sign-up">Sign Up</a>
<% if (locals.currentUser) { %>
  <a href="/log-out">Log Out</a>
  <dialog id="folder">
    <form action="/create-folder/<%= folder ? folder.id : '' %>" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
      <button type="submit">Create</button>
    </form>
  </dialog>
  <button id="folder" onclick="toggleModal('folder')">Create Folder</button>
  <dialog id="file">
    <form action="/upload/<%= folder.id %>" method="post" enctype="multipart/form-data">
      <label for="fileUpload">Select File</label>
      <p>img, pdf, or txt file</p>
      <p>up to 5MB</p>
      <img style="width: 75px;" id="preview" src="" alt="">
      <input type="file" id="uploadFile" onchange="previewImg(this)" name="uploadFile">
      <button type="submit">Upload File</button>
    </form>
  </dialog>
  <button id="file" onclick="toggleModal('file')">Add File</button>
<% } else { %>
  <a href="/login">Log In</a>
<% } %>
<div>
  <a href="/">Home</a>
  <%  for(let i=breadcrumbs.length - 1; i > -1; i--) { %>
    <img src="/right-arrow-backup-2-svgrepo-com.svg" alt="right arrow" style="width: 25px; height: 25px;">
    <a href="<%=  breadcrumbs[i].link %>"><%= breadcrumbs[i].name %></a>
  <% } %>
</div>
