<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/dialog.css">
  <link rel="stylesheet" href="/css/home.css">
  <title>Read-Only</title>
</head>
<body>
  <%- include('nav') %>
  <main>
     <% if(locals.errors) { %>
    <% errors.forEach((err, i)=> { %>
      <dialog id="error<%=i%>" open>
        <%= err.msg %>
      </dialog>
      <% }) %>
        <% } %>
    <%- include('sidebar') %>
    <% if (content.length > 0) { %>
      <div class="body">
        <% if (locals.breadcrumbs) { %>
          <div class="breadcrumbs">
            <a href="/">Home</a>
            <% for(let i=breadcrumbs.length - 1; i> -1; i--) { %>
              <img src="/img/right-arrow-backup-2-svgrepo-com.svg" alt="right arrow">
              <a href="<%=  breadcrumbs[i].link %>">
                <%= breadcrumbs[i].name %>
              </a>
              <% } %>
          </div>
          <% } %>
        <div class="content">
          <% content.forEach(e => { %>
            <% if (e.mimeType) { %>
              <dialog class="img-info" id="<%= e.cloudinaryId %>">
                  <img src="<%= e.url %>" alt="<%= e.name %>">
                  <p><%= e.name %></p>
                  <p>Size: <%= e.formattedSize %></p>
                  <p>Uploaded: <%= e.createdAt.toLocaleDateString() %> • <%= e.createdAt.toLocaleTimeString() %></p>
              </dialog>
              <div class="card">
                <dialog id="file<%= e.id %>">
                  <form action="/download/<%= e.id%>">
                    <button onclick="this.style.display = 'none'" type="submit">Download</button>
                  </form>
                </dialog>
                <div class="card-img">
                  <img id="<%= e.cloudinaryId %>" src="<%= e.url %>" alt="<%= e.name %>"
                    onclick="toggleModal('<%= e.cloudinaryId %>')">
                </div>
                <div class="card-header">
                  <p id="<%= e.cloudinaryId %>" onclick="toggleModal('<%= e.cloudinaryId %>')"><%= e.name %></p>
                  <img  id="file<%= e.id %>" src="/img/three-dots-svgrepo-com.svg" onclick="toggleModal('file<%= e.id %>')" style="width: 25px; height: 25px;">
                </div>
              </div>
            <% } else { %>
              <a class="card-folder" href="/folder/<%= e.id %>">
                <img src="/img/folder-svgrepo-com.svg" alt="folder">
              </a>
              <div class="card-header">
                <a class="name" href="/folder/<%= e.id %>">
                  <%= e.name %>
                </a>
              </div>
            <% } %>
          <% }) %>
        </div>
      </div>
    <% } %>
  </main>
<script src="/js/modalFunctions.js"></script>
</body>
</html>