<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/dialog.css">
  <link rel="stylesheet" href="/css/shared.css">
  <title>Shared</title>
</head>
<body>
  <%- include('nav')%>
  <main class="shared">
    <%- include('sidebar')%>
    <div class="body">
     <% if (sharedLinks.length > 0) { %>
      <% sharedLinks.forEach(link => { %>
      <div class="<%= link.expiresAt > new Date() ? 'active' : 'expired' %> card">
        <div class="header">
          <a href="/folder/<%= link.folder.id %>"><%= link.folder.name %></a>
          <dialog class="controls" id="link<%= link.id %>">
            <form action="/renew/<%= link.id %>">
              <button>Renew</button>
            </form>
            <% if (!link.revoked) { %>
              <form action="/revoke/<%= link.id %>">
                <button>Revoke</button>
              </form>
            <%} else { %>
              <form action="/activate/<%= link.id %>">
                <button>Activate</button>
              </form>
            <% } %>
            <form action="/delete-link/<%= link.id %>">
              <button>Delete</button>
            </form>
          </dialog>
          <img class="dots" tabindex="0" onclick="toggleModal('link<%= link.id %>')"  src="/img/three-dots-svgrepo-com.svg" alt="action button">
        </div>
        <% if (link.expiresAt > new Date()) { %>
          <p>Expires <%= dayjs(link.expiresAt).fromNow() %></p>
          <div>
            <input type="text" id="shareUrl" value="<%= link.sharedUrl %>" readonly>
            <img tabindex="0" src="/img/link-svgrepo-com.svg" id="copyBtn">
          </div>
        <% } else { %>
          <p>Expired</p>
          <div>
            <input type="text" value="Revoke to generate link ->" readonly>
            <form action="/revoke/<%= link.id %>">
              <button style="width: fit-content;" class="button">Renew</button>
            </form>
          </div>
        <% } %>
      </div>
      <% }) %>
    <%} else { %>
      <div class="empty-state">
        <h2>No shared links yet</h2>
        <p>Share folders with others by creating a link</p>
        <a href="/" >Browse Folders</a>
      </div>
    <% } %>
    </div>
  </main>
  <script>
    const copyBtn = document.getElementById('copyBtn');
    const shareUrl = document.getElementById('shareUrl');

    copyBtn.addEventListener('click', (e) => {
      navigator.clipboard.writeText(shareUrl.value)
        .then(() => {
          alert('Link copied to clipboard!')
        })
        .catch(err => {
          console.error('Failed to copy: ', err);
        });
    })
  </script>
  <script src="/js/modalFunctions.js"></script>
</body>
</html>