<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/dialog.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/info.css">
  <title>Read-Only</title>
</head>
<body>
  <%- include('nav') %>
  <main>
     <% if(locals.errors) { %>
    <% errors.forEach((err, i)=> { %>
      <dialog id="error<%=i%>" open>
        <%= err.msg %>
      </dialog>
      <% }) %>
        <% } %>
    <%- include('sidebar') %>
    <div class="body">
      <% if (locals.breadcrumbs) { %>
        <div class="breadcrumbs">
          <% for(let i=breadcrumbs.length - 1; i> -1; i--) { %>
            <a href="<%=  breadcrumbs[i].link %>">
              <%= breadcrumbs[i].name %>
            </a>
            <% if (i !== 0) { %>
              <img src="/img/right-arrow-backup-2-svgrepo-com.svg" alt="right arrow">
            <% } %>
            <% } %>
        </div>
      <% } else { %>
        <h1><%= title %></h1>
      <% } %>
      <% if (content.length > 0) { %>
        <div class="content">
          <% content.forEach(e => { %>
            <% if (e.mimeType) { %>
              <dialog class="content-info img-info" id="<%= e.cloudinaryId %>">
                <% if(e.mimeType==='application/pdf' ) { %>
                  <iframe src="<%= e.url %>" class="pdf-view">
                  </iframe>
                <% } else { %>
                  <img src="<%= e.url %>" alt="<%= e.name %>">
                <% } %>
                <div class="header">
                  <img class="icon" src="/img/file-zipper-svgrepo-com.svg" alt="file">
                  <h2>
                    <%= e.name %>
                  </h2>
                </div>
                <div>
                  <h3>Size</h3>
                  <p>
                    <%= e.formattedSize %>
                  </p>
                </div>
                <div>
                  <h3>Uploaded</h3>
                  <p>
                    <%= e.createdAt.toLocaleDateString(undefined, { month: 'short' , day: 'numeric' , year: 'numeric' }) %>
                  </p>
                </div>
              </dialog>
              <div class="card">
                <dialog class="controls" id="file<%= e.id %>">
                  <form action="/download/<%= e.id%>">
                    <button class="control-btn" onclick="this.style.display = 'none'" type="submit">Download</button>
                  </form>
                </dialog>
                <div class="card-img">
                  <% if(e.mimeType==='application/pdf' ) { %>
                    <iframe class="preview" src="<%= e.url %>" onclick="toggleModal('<%= e.cloudinaryId %>')" width="100%" height="100%">
                    </iframe>
                  <% } else { %>
                    <img src="<%= e.url %>" onclick="toggleModal('<%= e.cloudinaryId %>')" alt="<%= e.name %>">
                  <% } %>
                </div>
                <div class="card-header">
                  <p id="<%= e.cloudinaryId %>" onclick="toggleModal('<%= e.cloudinaryId %>')"><%= e.name %></p>
                  <img class="dots" src="/img/three-dots-svgrepo-com.svg" onclick="openControls(this, 'file<%= e.id %>')" style="width: 25px; height: 25px;">
                </div>
              </div>
            <% } else { %>
              <div class="card">
                
                <% 
                  const isSharedPage = title === 'Shared with me';
                  const isActive = !e.revoked && new Date(e.expiresAt) > new Date();
                  const isGrey = isSharedPage && !isActive;
                  let folderHref = null;
                
                  if (isSharedPage && isActive) {
                  folderHref = `/share/${e.token}/?folderId=${e.id}`;
                  } else if (!isSharedPage) {
                  folderHref = `/share/${token}/?folderId=${e.id}`;
                  };
                %>

                <a class="card-folder <%= isGrey ? 'grey-out' : '' %>"
                  <% if (folderHref) { %> href="<%= folderHref %>" <% } %>
`               >
                  <img src="/img/folder-svgrepo-com.svg" alt="folder">
                  <% if (!isActive && isSharedPage) { %>
                    <p style="margin: 0; color: white; position: absolute; top: 69%; transform: translateY(-50%);">not active</p>
                  <% } %>
                </a>
                <dialog class="controls" id="folder<%= e.id %>">
                  <form method="post" action="/remove/<%=  e.linkId %>">
                    <button class="control-btn border-bottom">Remove</button>
                  </form>
                
                  <button class="control-btn" onclick="showSideInfo(<%= JSON.stringify(e) %>)">Info</button>
                </dialog>
                <div class="card-header">
                  <a class="name truncate <%= isGrey ? 'disabled' : '' %>" 
                  <% if (folderHref) { %> href="<%= folderHref %>" <% } %>
                  >
                    <%= e.name %>
                  </a>
                  <% if (isSharedPage) { %>
                    
                    <img class="dots" src="/img/three-dots-svgrepo-com.svg" onclick="openControls(this, 'folder<%= e.id %>')" style="width: 25px; height: 25px;">
                  <% } %>
                </div>
              </div>
            <% } %>
          <% }) %>
        </div>
      <% } else { %>
        <div class="empty-state">
          <h2>No shared content to view</h2>
          <% if (title === 'Shared with me') { %>
            <p>When someone shares a folder with you, it will appear here</p>
            <a href="/home">Browse Your Folders</a>
          <% } %>
        </div>
      <% } %>
    </div>
    <%- include('info') %>
  </main>
<script src="/js/modalFunctions.js"></script>
<script src="/js/sideInfo.js"></script>
</body>
</html>